.payment-options-grid{
  //background-color: #2aff7f;
  color: white;
}
.payment-options-group{
  left: 150px;
  font-size: 20px;
}
.total-cost-grid{
  //background-color: #f1df6d;
  text-align: right;
}
.total-cost-label{
  width: 100%;
  font-size: 25px;
  display: block;
  color: #fff5fa;
}
.mat-dialog-content {
  overflow-y: hidden !important;
  background-color: #125699;
}
