<body>
<h1>{{title}}</h1>
<div class="pos-container">
  <mat-grid-list cols="6" rowHeight="500px">
    <mat-grid-tile class="pos-action-grid" colspan="1">
      <section>
        <div class="pos-button-div">
          <button class="pos-button" mat-raised-button color="primary" id="pos-new-transaction-button"
                  name="newTransaction"
                  (click)="newTransaction()" [disabled]="isNewTransactionDisabled">New Transaction
          </button>
        </div>
        <div class="pos-button-div">
          <button class="pos-button" mat-raised-button color="primary" id="pos-void-button" (click)="clearItemList()"
                  [disabled]="isDisabled">Void
          </button>
        </div>
        <div class="pos-button-div">
          <button class="pos-button" mat-raised-button color="primary" id="pos-checkout-button"
                  (click)="checkoutItems()" [disabled]="isDisabled">Checkout
          </button>
        </div>
        <div class="pos-button-div">
          <button class="pos-button" mat-raised-button color="primary" id="pos-payment-button"
                  (click)="showPaymentDialog()" [disabled]="isPaymentDisabled">Customer Payment
          </button>
        </div>
      </section>
    </mat-grid-tile>
    <mat-grid-tile class="pos-items-grid" colspan="2">
      <section class="pos-items-section">
        <div class="pos-button-div">
          <button *ngFor="let item of items; let i = index" class="pos-button" mat-raised-button color="primary"
                  id="item{{i}}" name="item{{i}}"
                  (click)="addItemToItemList(item)"
                  [disabled]="isDisabled">{{item.getItemName}}
          </button>
        </div>
      </section>
    </mat-grid-tile>
    <mat-grid-tile class="pos-info-grid" colspan="2">
      <section>
        <div class="item-list-div" id="itemList" name="itemList" #itemList></div>
        <div>
          <div class="sub-total-text" id="subTotal">Sub-Total:{{subTotalPrice.toFixed(2)}}</div>
          <div class="tax-text" id="tax">Tax:{{tax.toFixed(2)}}</div>
          <div class="total-cost-text" id="totalCost" ngModel="totalPrice">Total:{{totalPrice.toFixed(2)}}</div>
        </div>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</body>
